{% extends "aplikacjaKsiazkowa2\base.html" %}

{% block title %}
    Edycja książki:
{% endblock %}

{% block content %}

    <div class="container mv-5 mt-3">
        <table class="table table-striped table-bordered mydatatable" style="width: 100%">
	        <thead>
                <tr>
                    <th>Id</th>
                    <th>Tytuł</th>
                    <th>Autor</th>
                    <th>Data publikacji</th>
                    <th>ISBN</th>
                    <th>Liczba stron</th>
                    <th>Link do okładki</th>
                    <th>Język publikacji</th>
                </tr>
	        </thead>
            <tbody>
                <tr>
				    <form action="{% url 'aplikacjaKsiazkowa2:add_book' %}" method="POST">
                   	  <th></th>
                      <th>
                          <input type="text" class="form-control" id="title" placeholder="Tytuł" name="title">
              		  </th>
                      <th>
                          <input type="text" class="form-control" id="author" placeholder="Autor" name="author">
                      </th>
                      <th>
                          <input type="date" class="form-control" id="pub_date" placeholder="Data publikacji" name="pub_date">
                      </th>
                      <th>
                          <input type="text" class="form-control" id="isbn" placeholder="ISBN" name="isbn">
                      </th>
                      <th>
                          <input type="number" class="form-control" id="pages" placeholder="Liczba stron" name="pages">
                      </th>
                      <th>
                          <input type="text" class="form-control" id="cover" placeholder="Link do okładki" name="cover">
                      </th>
                      <th>
                          <input type="text" class="form-control" id="language" placeholder="Język" name="language">
                      </th>
                      <th>
                          {% csrf_token %}
                          <button type="submit" class="btn btn-primary" >Zapisz książkę</button>
                      </th>
                    </form>
                </tr>
            </tbody>
	    </table>
    </div>

{% endblock %}

