{% extends 'aplikacjaKsiazkowa2\base.html' %}

{% block title %}
Usuwanie książek
{% endblock %}

{% block content %}
    <div class="layout__body">
       <form class="form" method="POST" action="">
           {% csrf_token %}
           <div class="form__group">
               <p>Czy na pewno chcesz usunąć "{{ book }}"</p>
           </div>

           <div class="for__group">
               <input class="btn btn--main" type="submit" value="Potwierdź" />
           </div>
       </form>
    </div>
{% endblock %}