{% extends "aplikacjaKsiazkowa2\base.html" %}

{% block title %}
    Google API
{% endblock %}

{% block content %}
    <div class="container" style="margin-top:30px">
        <form action="{% url 'aplikacjaKsiazkowa2:gugle' %}" method="POST" >
            Podaj słowo kluczowe, dla którego chcesz wyszukać dostępne książki w Google API.
            <br>
            Wszystkie znalezione zostaną dodane do bazy.
            <div>
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">Wyszukaj w Google API</button><br>
                <input type="text" class="form-control" name="book_from_api"/>
            </div>
        </form>
    </div>
{% endblock %}