{% extends "aplikacjaKsiazkowa2/base.html" %}

{% block title %}
    API:
{% endblock %}

{% block content %}
<div>
    Udostępnione polecenia API:
    <div class="api">
        <code>
            [<br>
                'GET /api',<br>
                'GET /api/books',<br>
                'GET /api/books/:id',<br>
                'GET /api/books?title=looking_title',<br>
                'GET /api/books?author=looking_author',<br>
                'GET /api/books?language=looking_language',<br>
                'GET /api/books?d1=YYYY-MM-DD&d2=YYYY-MM-DD',<br>
            ]
        </code>
    </div>
</div>
{% endblock %}